#### DARK THEME
/* body {
  background-color: #222; 
  color: #ddd; 
}

a {
  color: #淡藍色; 
}

h1, h2, h3, h4, h5, h6 {
  color: #F3F606; 
} */

pre, code {
  background-color: #333; 
  color: #eee; 
}

#### LIGHT THEME
body {
  background-color: #fff; /* White background color */
  color: #000; /* Black text color */
}

a {
  color: #007bff; /* Blue for links */
}

h1, h2, h3, h4, h5, h6 {
  color: #333; /* Darker gray for headings */
}

pre, code {
  background-color: #f8f9fa; /* Light gray for code blocks */
  color: #000; /* Black text color for code */
} 

/* Import fonts from external sources (replace with actual font URLs) */
@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}

/* Use variables in your styles */
body {
  font-family: var(--base-font);
}

h1, h2, h3 {
  font-family: var(--heading-font);
}


